.logo {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
    width: 120px;
  }
  img {
    width: 100%;
    height: auto;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.logo-mobile {
  display: block;
  width: 40px;
  padding: 10px 0 10px 0;
  @include media-breakpoint-up(sm) {
    display: none;
  }
  img {
    width: 100%;
    height: auto;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
@media(min-width:576px) {
 .logo {
  display:block;
  /*! width:120px; */
 }
}

.logo a {
 /*! display:block; *//*! width:100%; *//*! height:100%; */
}

// Thank you, manveru!
@media(min-width:576px) {
 .logo {
  display:block;
  /*! width:120px; */
 }
}

.logo a {
 /*! display:block; *//*! width:100%; *//*! height:100%; */
}

.logo img {
 width:auto;
 height:60px;
}
